# Dependencies (Kabhi Git me nahi bhejna)
node_modules/
*/node_modules/

# Environment Variables (Secrets & Passwords)
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# Production Build Folders
dist/
build/
.next/
out/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Operating System & Editor Files
.DS_Store
Thumbs.db
.vscode/